<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# <!--[if IE]><link rel="shortcut icon" href="/img/favicon.ico"><![endif]--> #}
        <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/css/style.css">
        <title>Home | Scholl Manager</title>
    </head>
    <body>
        <main>
            <section class="banner">
                <h1>Scholl Manager</h1>
            </section>
            <section class="content">
                <div class="card instructor-card">
                    <a href="/teachers">
                        <h2>Teachers</h2>
                    </a>
                </div>
                <div class="card member-card">
                    <a href="/students">
                        <h2>Students</h2>
                    </a>
                </div>
            </section>
        </main>
    </body>
</html>