{% extends "layout.njk" %}
{% block content %}
  <div class="card">
    <section 
      class="avatar" 
      style="background: url({{ teacher_url }}) no-repeat center center / cover">
    </section>

    <section class="details">
      <form method="POST" action="/teachers?_method=PUT">

        <h3>Editar Instrutor</h3>

        {% include 'teachers/fields.njk' %}

        <input type="hidden" name="id" value={{ teacher.id }}>
      </form>

      <form method="POST" action="/teachers?_method=DELETE" id="form-delete">
        <input type="hidden" name='id' value="{{ teacher.id }}">
        <button type="submit"> Deletar </button>
      </form>

      </section>
  
      <script>
          const formDelete = document.querySelector('#form-delete')
          formDelete.addEventListener('submit', function(event){
            const confimation = confirm('Deseja Deletar?')

            if(!confimation){
              event.preventDefault()
            }
          })
      </script>

    </div>
  {% endblock content %}